.banner{
    background-repeat: no-repeat;
	background-image: url("maasai.jpg");
	height: 400px;
	clear: right;

}

#countyList{
	
}

#whatToDo{
	background-color: blue;
}

.containerHolder{
	height: 400px;
	background-color: #e08d3c
}